a.active {
  position: relative;
  background: linear-gradient(125.07deg, rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
  text-decoration: none; /* Remove default underline */
  transition: ease 200ms;
}

a.active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px; /* adjust as needed */
  width: 100%;
  height: 2px;
  background: linear-gradient(125.07deg, rgba(99, 46, 227, 1), rgba(159, 98, 242, 1) 100%);
  border-radius: 2px;
}
